@import url('https://fonts.googleapis.com/css?family=Mulish');


body {
    background: url(../HomePage/pic/homepage.png) no-repeat center center fixed; 
    background-size: cover ;
}

.list{
    padding-top: 1vw;
}

.list a{
    text-decoration: none;
}

.font5 {
    font-weight: bolder;
    font-size: 2.5vw;
    font-family: 'Mulish';
    color: #1E3240;
}